<div>
  <br>
  <input [(ngModel)]="isChecked" (change)="optionChange('optIgnoreWhitespaces', $event)" type="checkbox" name="optIgnoreWhitespaces" value="ignoreWhitespaces" /> ignore whitespaces
  <br>
  <input (change)="optionChange('optIgnoreCase', $event)" type="checkbox" name="optIgnoreCase" value="ignoreCase" /> ignore case
  <br>
  <input (change)="optionChange('optCopyingMode', $event)" type="checkbox" name="optCopyingMode" value="copyingMode" /> copying mode
  <br>
  <button (click)="compare()" type="button">compare</button>
</div>